@model FreelancerSpace.Models.EmpresaModel

@{
}

<h1>Cadastrar</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <form>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnae" class="control-label"></label>
                <label class="control-label">CNAE</label>
                <span>
                    <button id="buscar_cnae" type="button" class="btn" data-toggle="modalCnae" data-target="#ModalCnae">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                        Buscar CNAE
                    </button>
                    <input class="form-control" type="text" id="cnae" disabled>
                </span>
                <span asp-validation-for="Cnae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="ImagemDestaque" class="control-label"></label>
                    <input asp-for="ImagemDestaque" class="form-control" />
                    <span asp-validation-for="ImagemDestaque" class="text-danger"></span>
                </div>*@
            <div>
                <button type="button" class="btn" data-toggle="modal" data-target="#ModalTelefone"><i class="far fa-plus-square">Telefone</i></button>
                <button type="button" class="btn" data-toggle="modal" data-target="#ModalEndereco"><i class="far fa-plus-square">Endereço</i></button>
                @*<button type="button" class="btn" data-toggle="modal" data-target="#ModalDisponibilidade"><i class="far fa-plus-square">Disponibilidade</i></button>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="ModalCnae" tabindex="-1" role="dialog" aria-labelledby="Cnae Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CNAE - Busca por Atividade</h5>
                <button type="button" class="close" data-dismiss="modalCnae" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome Atividade</label>
                        <input name="Nome" id=" cnaeDescriacao" type="text" class="form-control" />
                        <input id=" cnaeCodigo" class="form-control" type="hidden" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fechar" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnCnaeadicionar">Adicionar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        <script>
            if (window.location.href.includes("Create/")) {
                document.getElementById("btnsalvar").value = "Editar";
            }
            else {
                document.getElementById("btnsalvar").value = "Salvar";
            }

            function salvarEmpresa() {

                // criar a lista de produtos
                var listaProd = new Array();

                var obj = {
                    id: parseInt($("#Id").val() == "" ? 0 : $("#Id").val()),
                    Nome: $("#txtnome").val(),
                    Descricao: $("#txtdescricao").val(),
                    IdRamoAtividade: $("# cnaeCodigo").val()
                }
                console.log(JSON.stringify(obj));
                $.ajax({
                    url: "/ProdutosServicos/Salvar",
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(obj),
                    success: function (data) {
                        console.log(data);
                        if (data.status) {
                            $("#mensagem").removeClass('alert-danger').addClass('alert-success').text(data.mensagem);
                            $("#Id").val(data.obj.empCodigo);
                            //limpar
                            bootbox.alert(data.mensagem);
                        }
                        else {
                            $("#mensagem").addClass('alert-danger').removeClass('alert-success').text(data.mensagem);
                            bootbox.alert(data.mensagem);
                        }
                    }
                });
            }

            $(document).ready(function () {
                $("#btnsalvar").on('click', function () {
                    $("#mensagem").html("");
                    var validacao = true;
                    var mensagem = "";
                    if ($("#txtnome").val() == "") {
                        validacao = false;
                        mensagem = "Informe nome da Empresa.";
                    }
                    if ($("#cnae").val() == "") {
                        validacao = false;
                        mensagem = "Informe o Ramo de atividade do Produto/Serviço."
                    }
                    if (validacao) {
                        salvarEmpresa();
                    }
                    else {
                        $("#mensagem").addClass('alert-danger').html(mensagem);
                        bootbox.alert(mensagem);
                    }
                });

                $("#cnaeDescriacao").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Cnae/BuscarAtividade",
                            type: "GET",
                            dataType: "json",
                            data: { nome: request.term },
                            success: function (data) {
                                console.log(data)
                                response($.map(data, (item) => {
                                    return {
                                        label: item.descSubclasse,
                                        value: item.codCnae
                                    };
                                }))
                            }
                        })
                    },
                    minLength: 2,
                    select: function (event, ui) {
                        event.preventDefault();
                        $(this).val(ui.item.label);
                        $("# cnaeCodigo").val(ui.item.value);
                    },
                    focus: function (event, ui) {
                        event.preventDefault();
                        $("#cnaeDescriacao").val(ui.item.label);
                    }
                });

                $("#btnCnaeadicionar").on('click', function () {
                    var cnae, ele;
                    cnae = $("# cnaeCodigo").val() + "  |  " + $("#cnaeDescriacao").val();
                    ele = document.createElement("p");
                    ele.innerText = cnae;
                    $("#cnae").val(cnae);
                    $("#cnaeDescriacao").val("");
                    $(".modal-backdrop").hide();
                    $("#ModalCnae").modal('hide');
                });
            });
        </script>
}
