
App/FreelancerSpace/.vs/FreelancerSpace/DesignTimeBuild/.dtbcache.v2
App/FreelancerSpace/FreelancerSpace/obj/Debug/netcoreapp3.1/FreelancerSpace.csprojAssemblyReference.cache
App/FreelancerSpace/.vs/FreelancerSpace/DesignTimeBuild/.dtbcache.v2
App/FreelancerSpace/.vs/FreelancerSpace/v16/.suo
App/FreelancerSpace/FreelancerSpace/obj/Debug/netcoreapp3.1/FreelancerSpace.csprojAssemblyReference.cache
