USE [FreelancerSpace]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [FK_Usuarios_GrupoAcessos]
GO
ALTER TABLE [dbo].[TelefoneXEmpresas] DROP CONSTRAINT [FK_TelefoneXEmpresas_Telefone]
GO
ALTER TABLE [dbo].[TelefoneXEmpresas] DROP CONSTRAINT [FK_TelefoneXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] DROP CONSTRAINT [FK_ProdutosServicosXEmpresas_ProdutosServicos]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] DROP CONSTRAINT [FK_ProdutosServicosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[ProdutosServicos] DROP CONSTRAINT [FK_ProdutosServicos_Cnae]
GO
ALTER TABLE [dbo].[Pessoas] DROP CONSTRAINT [FK_Pessoas_Usuarios]
GO
ALTER TABLE [dbo].[PerfilEmpresa] DROP CONSTRAINT [FK_PerfilEmpresa_Empresas]
GO
ALTER TABLE [dbo].[NotaAvaliacao] DROP CONSTRAINT [FK_NotaAvaliacao_Empresas]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] DROP CONSTRAINT [FK_HorarioAtendimentoXEmpresas_HorarioAtendimento]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] DROP CONSTRAINT [FK_HorarioAtendimentoXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[Funcionarios] DROP CONSTRAINT [FK_Funcionarios_Pessoas]
GO
ALTER TABLE [dbo].[Funcionarios] DROP CONSTRAINT [FK_Funcionarios_Empresas]
GO
ALTER TABLE [dbo].[FaqRespostas] DROP CONSTRAINT [FK_FaqRespostas_FaqPerguntas]
GO
ALTER TABLE [dbo].[FaqPerguntas] DROP CONSTRAINT [FK_FaqPerguntas_Empresas]
GO
ALTER TABLE [dbo].[Estados] DROP CONSTRAINT [FK_Estados_Pais]
GO
ALTER TABLE [dbo].[EnderecosXPessoas] DROP CONSTRAINT [FK_EnderecosXPessoas_Pessoas]
GO
ALTER TABLE [dbo].[EnderecosXPessoas] DROP CONSTRAINT [FK_EnderecosXPessoas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] DROP CONSTRAINT [FK_EnderecosXEmpresas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] DROP CONSTRAINT [FK_EnderecosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[Clientes] DROP CONSTRAINT [FK_Clientes_Pessoas]
GO
ALTER TABLE [dbo].[Cidades] DROP CONSTRAINT [FK_Cidades_Estados]
GO
ALTER TABLE [dbo].[Acessos] DROP CONSTRAINT [FK_Acessos_Permissoes]
GO
ALTER TABLE [dbo].[Acessos] DROP CONSTRAINT [FK_Acessos_GrupoAcessos]
GO
ALTER TABLE [dbo].[Acessos] DROP CONSTRAINT [FK_Acessos_Funcionalidades]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [DF_Usuarios_Ativo]
GO
ALTER TABLE [dbo].[Pessoas] DROP CONSTRAINT [DF_Pessoas_Ativo]
GO
ALTER TABLE [dbo].[Permissoes] DROP CONSTRAINT [DF_Permissoes_Ativo]
GO
ALTER TABLE [dbo].[PerfilEmpresa] DROP CONSTRAINT [DF_PerfilEmpresa_IdEmpresa]
GO
ALTER TABLE [dbo].[GrupoAcessos] DROP CONSTRAINT [DF_GrupoAcessos_Ativo]
GO
ALTER TABLE [dbo].[Funcionalidades] DROP CONSTRAINT [DF_Funcionalidades_Ativo]
GO
ALTER TABLE [dbo].[Enderecos] DROP CONSTRAINT [DF_Enderecos_Ativo]
GO
ALTER TABLE [dbo].[Empresas] DROP CONSTRAINT [DF_Empresas_Ativo]
GO
ALTER TABLE [dbo].[Clientes] DROP CONSTRAINT [DF_Clientes_Ativo]
GO
ALTER TABLE [dbo].[Acessos] DROP CONSTRAINT [DF_Acessos_Ativo]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[TelefoneXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TelefoneXEmpresas]') AND type in (N'U'))
DROP TABLE [dbo].[TelefoneXEmpresas]
GO
/****** Object:  Table [dbo].[Telefone]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Telefone]') AND type in (N'U'))
DROP TABLE [dbo].[Telefone]
GO
/****** Object:  Table [dbo].[ProdutosServicosXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProdutosServicosXEmpresas]') AND type in (N'U'))
DROP TABLE [dbo].[ProdutosServicosXEmpresas]
GO
/****** Object:  Table [dbo].[ProdutosServicos]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProdutosServicos]') AND type in (N'U'))
DROP TABLE [dbo].[ProdutosServicos]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pessoas]') AND type in (N'U'))
DROP TABLE [dbo].[Pessoas]
GO
/****** Object:  Table [dbo].[Permissoes]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permissoes]') AND type in (N'U'))
DROP TABLE [dbo].[Permissoes]
GO
/****** Object:  Table [dbo].[PerfilEmpresa]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PerfilEmpresa]') AND type in (N'U'))
DROP TABLE [dbo].[PerfilEmpresa]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pais]') AND type in (N'U'))
DROP TABLE [dbo].[Pais]
GO
/****** Object:  Table [dbo].[NotaAvaliacao]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotaAvaliacao]') AND type in (N'U'))
DROP TABLE [dbo].[NotaAvaliacao]
GO
/****** Object:  Table [dbo].[HorarioAtendimentoXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HorarioAtendimentoXEmpresas]') AND type in (N'U'))
DROP TABLE [dbo].[HorarioAtendimentoXEmpresas]
GO
/****** Object:  Table [dbo].[HorarioAtendimento]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HorarioAtendimento]') AND type in (N'U'))
DROP TABLE [dbo].[HorarioAtendimento]
GO
/****** Object:  Table [dbo].[GrupoAcessos]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrupoAcessos]') AND type in (N'U'))
DROP TABLE [dbo].[GrupoAcessos]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Funcionarios]') AND type in (N'U'))
DROP TABLE [dbo].[Funcionarios]
GO
/****** Object:  Table [dbo].[Funcionalidades]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Funcionalidades]') AND type in (N'U'))
DROP TABLE [dbo].[Funcionalidades]
GO
/****** Object:  Table [dbo].[FaqRespostas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FaqRespostas]') AND type in (N'U'))
DROP TABLE [dbo].[FaqRespostas]
GO
/****** Object:  Table [dbo].[FaqPerguntas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FaqPerguntas]') AND type in (N'U'))
DROP TABLE [dbo].[FaqPerguntas]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estados]') AND type in (N'U'))
DROP TABLE [dbo].[Estados]
GO
/****** Object:  Table [dbo].[EnderecosXPessoas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnderecosXPessoas]') AND type in (N'U'))
DROP TABLE [dbo].[EnderecosXPessoas]
GO
/****** Object:  Table [dbo].[EnderecosXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnderecosXEmpresas]') AND type in (N'U'))
DROP TABLE [dbo].[EnderecosXEmpresas]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enderecos]') AND type in (N'U'))
DROP TABLE [dbo].[Enderecos]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empresas]') AND type in (N'U'))
DROP TABLE [dbo].[Empresas]
GO
/****** Object:  Table [dbo].[Cnae]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cnae]') AND type in (N'U'))
DROP TABLE [dbo].[Cnae]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clientes]') AND type in (N'U'))
DROP TABLE [dbo].[Clientes]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cidades]') AND type in (N'U'))
DROP TABLE [dbo].[Cidades]
GO
/****** Object:  Table [dbo].[Acessos]    Script Date: 08/06/2021 18:54:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Acessos]') AND type in (N'U'))
DROP TABLE [dbo].[Acessos]
GO
/****** Object:  Table [dbo].[Acessos]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acessos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdFuncionalidade] [int] NOT NULL,
	[IdPermissao] [int] NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Acessos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Sigla] [varchar](10) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NOT NULL,
	[Interesses] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cnae]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cnae](
	[id] [varchar](50) NOT NULL,
	[cod_secao] [varchar](1) NOT NULL,
	[desc_secao] [varchar](255) NOT NULL,
	[cod_divisao] [varchar](2) NOT NULL,
	[desc_divisao] [varchar](255) NOT NULL,
	[cod_grupo] [varchar](3) NOT NULL,
	[desc_grupo] [varchar](255) NOT NULL,
	[cod_classe] [varchar](6) NOT NULL,
	[desc_classe] [varchar](255) NOT NULL,
	[cod_subclasse] [varchar](9) NOT NULL,
	[desc_subclasse] [varchar](255) NOT NULL,
	[cod_cnae] [varchar](50) NOT NULL,
 CONSTRAINT [PK__CNAE__3213E83F7B233C96] PRIMARY KEY CLUSTERED 
(
	[cod_cnae] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] NOT NULL,
	[CNAE] [varchar](50) NOT NULL,
	[RazaoSocial] [varchar](80) NOT NULL,
	[NomeFantasia] [varchar](80) NOT NULL,
	[CNPJ] [varchar](14) NOT NULL,
	[Descricao] [varchar](150) NULL,
	[ImagemDestaque] [varchar](200) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logradouro] [varchar](80) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[CEP] [nchar](9) NOT NULL,
	[Ativo] [char](1) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Complemento] [varchar](100) NULL,
 CONSTRAINT [PK_Enderecos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecosXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecosXEmpresas](
	[IdEndereco] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecosXPessoas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecosXPessoas](
	[IdEndereco] [int] NOT NULL,
	[IdPessoa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Sigla] [varchar](2) NOT NULL,
	[IdPais] [int] NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqPerguntas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqPerguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Pergunta] [varchar](150) NOT NULL,
	[DataHorario] [datetime] NOT NULL,
	[Anexo] [varchar](200) NULL,
 CONSTRAINT [PK_FaqPerguntas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqRespostas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqRespostas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPergunta] [int] NOT NULL,
	[Resposta] [varchar](150) NOT NULL,
	[DataHorario] [datetime] NOT NULL,
	[Anexo] [varchar](200) NULL,
 CONSTRAINT [PK_FaqRespostas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionalidades]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionalidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Funcionalidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[DataContratacao] [date] NOT NULL,
	[Ativo] [char](1) NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoAcessos]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoAcessos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_GrupoAcessos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioAtendimento]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAtendimento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiasAtendimento] [varchar](20) NULL,
	[HorarioAtendimento] [varchar](20) NULL,
 CONSTRAINT [PK_HorarioAtendimento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioAtendimentoXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAtendimentoXEmpresas](
	[IdEmpresa] [int] NOT NULL,
	[IdHorarioAtendimento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotaAvaliacao]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotaAvaliacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[NotaAvaliacao] [decimal](1, 1) NOT NULL,
	[DataAvaliacao] [datetime] NOT NULL,
 CONSTRAINT [PK_NotaAvaliacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[sigla] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilEmpresa]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Likes] [numeric](9, 0) NULL,
	[Visualizacoes] [numeric](9, 0) NULL,
	[IdEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_PerfilEmpresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissoes]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Permissoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Sobrenome] [varchar](60) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[Ativo] [char](1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosServicos]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosServicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRamoAtividade] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](100) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_ProdutosServicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosServicosXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosServicosXEmpresas](
	[IdProdutoServico] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefone]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefone](
	[Id] [int] NOT NULL,
	[Numero] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Telefone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefoneXEmpresas]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefoneXEmpresas](
	[IdTelefone] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/06/2021 18:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Username] [varchar](50) NOT NULL,
	[IdGrupoAcesso] [int] NOT NULL,
	[Senha] [varchar](255) NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acessos] ON 

INSERT [dbo].[Acessos] ([Id], [IdGrupo], [IdFuncionalidade], [IdPermissao], [Ativo]) VALUES (1, 1, 1, 1, N'S')
INSERT [dbo].[Acessos] ([Id], [IdGrupo], [IdFuncionalidade], [IdPermissao], [Ativo]) VALUES (2, 1, 1, 2, N'S')
SET IDENTITY_INSERT [dbo].[Acessos] OFF
GO
INSERT [dbo].[Cnae] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse], [cod_cnae]) VALUES (N'111301', N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/01', N'Cultivo de arroz', N'A010110111-3/01')
INSERT [dbo].[Cnae] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse], [cod_cnae]) VALUES (N'111302', N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/02', N'Cultivo de milho', N'A010110111-3/02')
INSERT [dbo].[Cnae] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse], [cod_cnae]) VALUES (N'111303', N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/03', N'Cultivo de trigo', N'A010110111-3/03')
GO
SET IDENTITY_INSERT [dbo].[Funcionalidades] ON 

INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Cadastro de Funcionário', N'RH', N'S')
INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (2, N'PERFIL EMPRESA', N'PERFIL EMPRESARIAL', N'N')
INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (3, N'Cadastro de Funcionário', N'RH', N'N')
SET IDENTITY_INSERT [dbo].[Funcionalidades] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoAcessos] ON 

INSERT [dbo].[GrupoAcessos] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Grupo 1', N'Grupo de testes', N'S')
SET IDENTITY_INSERT [dbo].[GrupoAcessos] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissoes] ON 

INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Ler', N'Permite exibição', N'N')
INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (2, N'Criar', N'Permite criações', N'S')
INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (3, N'Excluir', N'Permite excluir os registros', N'S')
SET IDENTITY_INSERT [dbo].[Permissoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Pessoas] ON 

INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [CPF], [DataNascimento], [Ativo], [Usuario]) VALUES (1, N'Felipe', N'Sousa', N'424.806.438-32', CAST(N'2000-05-08' AS Date), N'S', N'felipe@felipe.com')
INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [CPF], [DataNascimento], [Ativo], [Usuario]) VALUES (2, N'Isadora', N'Martinho', N'123.123.123-12', CAST(N'2000-03-16' AS Date), N'S', N'isa@isa.com')
INSERT [dbo].[Pessoas] ([Id], [Nome], [Sobrenome], [CPF], [DataNascimento], [Ativo], [Usuario]) VALUES (3, N'Bryan', N'Bryan', N'123.123.123-12', CAST(N'2008-04-22' AS Date), N'S', N'bryan@bryan.com')
SET IDENTITY_INSERT [dbo].[Pessoas] OFF
GO
SET IDENTITY_INSERT [dbo].[ProdutosServicos] ON 

INSERT [dbo].[ProdutosServicos] ([Id], [IdRamoAtividade], [Nome], [Descricao], [Ativo]) VALUES (4, N'A010130133-4/02', N'Produto 1', N'Descrição teste', N'S')
INSERT [dbo].[ProdutosServicos] ([Id], [IdRamoAtividade], [Nome], [Descricao], [Ativo]) VALUES (5, N'A030320322-1/05', N'produto 2', N'teste', N'S')
SET IDENTITY_INSERT [dbo].[ProdutosServicos] OFF
GO
INSERT [dbo].[Usuarios] ([Username], [IdGrupoAcesso], [Senha], [Ativo]) VALUES (N'bryan@bryan.com', 1, N'Uj4MvVCjC3Z3I4SUWomxWQ==', N'S')
INSERT [dbo].[Usuarios] ([Username], [IdGrupoAcesso], [Senha], [Ativo]) VALUES (N'felipe@felipe.com', 1, N'Uj4MvVCjC3Z3I4SUWomxWQ==', N'S')
INSERT [dbo].[Usuarios] ([Username], [IdGrupoAcesso], [Senha], [Ativo]) VALUES (N'isa@isa.com', 1, N'Uj4MvVCjC3Z3I4SUWomxWQ==', N'S')
GO
ALTER TABLE [dbo].[Acessos] ADD  CONSTRAINT [DF_Acessos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Enderecos] ADD  CONSTRAINT [DF_Enderecos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionalidades] ADD  CONSTRAINT [DF_Funcionalidades_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[GrupoAcessos] ADD  CONSTRAINT [DF_GrupoAcessos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[PerfilEmpresa] ADD  CONSTRAINT [DF_PerfilEmpresa_IdEmpresa]  DEFAULT ('S') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[Permissoes] ADD  CONSTRAINT [DF_Permissoes_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Pessoas] ADD  CONSTRAINT [DF_Pessoas_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_Funcionalidades] FOREIGN KEY([IdFuncionalidade])
REFERENCES [dbo].[Funcionalidades] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_Funcionalidades]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_GrupoAcessos] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[GrupoAcessos] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_GrupoAcessos]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_Permissoes] FOREIGN KEY([IdPermissao])
REFERENCES [dbo].[Permissoes] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_Permissoes]
GO
ALTER TABLE [dbo].[Cidades]  WITH CHECK ADD  CONSTRAINT [FK_Cidades_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Cidades] CHECK CONSTRAINT [FK_Cidades_Estados]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Pessoas]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] CHECK CONSTRAINT [FK_EnderecosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXEmpresas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] CHECK CONSTRAINT [FK_EnderecosXEmpresas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXPessoas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXPessoas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXPessoas] CHECK CONSTRAINT [FK_EnderecosXPessoas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXPessoas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXPessoas_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXPessoas] CHECK CONSTRAINT [FK_EnderecosXPessoas_Pessoas]
GO
ALTER TABLE [dbo].[Estados]  WITH CHECK ADD  CONSTRAINT [FK_Estados_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Estados] CHECK CONSTRAINT [FK_Estados_Pais]
GO
ALTER TABLE [dbo].[FaqPerguntas]  WITH CHECK ADD  CONSTRAINT [FK_FaqPerguntas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[FaqPerguntas] CHECK CONSTRAINT [FK_FaqPerguntas_Empresas]
GO
ALTER TABLE [dbo].[FaqRespostas]  WITH CHECK ADD  CONSTRAINT [FK_FaqRespostas_FaqPerguntas] FOREIGN KEY([IdPergunta])
REFERENCES [dbo].[FaqPerguntas] ([Id])
GO
ALTER TABLE [dbo].[FaqRespostas] CHECK CONSTRAINT [FK_FaqRespostas_FaqPerguntas]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Empresas]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Pessoas]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_HorarioAtendimentoXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] CHECK CONSTRAINT [FK_HorarioAtendimentoXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_HorarioAtendimentoXEmpresas_HorarioAtendimento] FOREIGN KEY([IdHorarioAtendimento])
REFERENCES [dbo].[HorarioAtendimento] ([Id])
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] CHECK CONSTRAINT [FK_HorarioAtendimentoXEmpresas_HorarioAtendimento]
GO
ALTER TABLE [dbo].[NotaAvaliacao]  WITH CHECK ADD  CONSTRAINT [FK_NotaAvaliacao_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[NotaAvaliacao] CHECK CONSTRAINT [FK_NotaAvaliacao_Empresas]
GO
ALTER TABLE [dbo].[PerfilEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_PerfilEmpresa_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[PerfilEmpresa] CHECK CONSTRAINT [FK_PerfilEmpresa_Empresas]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Usuarios] FOREIGN KEY([Usuario])
REFERENCES [dbo].[Usuarios] ([Username])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Usuarios]
GO
ALTER TABLE [dbo].[ProdutosServicos]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicos_Cnae] FOREIGN KEY([IdRamoAtividade])
REFERENCES [dbo].[Cnae] ([cod_cnae])
GO
ALTER TABLE [dbo].[ProdutosServicos] CHECK CONSTRAINT [FK_ProdutosServicos_Cnae]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicosXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] CHECK CONSTRAINT [FK_ProdutosServicosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicosXEmpresas_ProdutosServicos] FOREIGN KEY([IdProdutoServico])
REFERENCES [dbo].[ProdutosServicos] ([Id])
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] CHECK CONSTRAINT [FK_ProdutosServicosXEmpresas_ProdutosServicos]
GO
ALTER TABLE [dbo].[TelefoneXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_TelefoneXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[TelefoneXEmpresas] CHECK CONSTRAINT [FK_TelefoneXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[TelefoneXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_TelefoneXEmpresas_Telefone] FOREIGN KEY([IdTelefone])
REFERENCES [dbo].[Telefone] ([Id])
GO
ALTER TABLE [dbo].[TelefoneXEmpresas] CHECK CONSTRAINT [FK_TelefoneXEmpresas_Telefone]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_GrupoAcessos] FOREIGN KEY([IdGrupoAcesso])
REFERENCES [dbo].[GrupoAcessos] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_GrupoAcessos]
GO
