@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <form id="form" asp-action="CreateUsuario" asp-controller="Usuarios" method="post">
            <div class="form-group">
                <label for="txtnome">Nome</label>
                <input name="txtnome" type="text" class="form-control" id="txtnome" placeholder="Nome" required>
            </div>
            <div class="form-group">
                <label for="txtsobrenome">Sobrenome</label>
                <input name="txtsobrenome" type="text" class="form-control" id="txtsobrenome" placeholder="Sobrenome" required>
            </div>
            <div class="form-group">
                <label for="txtcpf">CPF</label>
                <input name="txtcpf" type="text" class="form-control" id="txtcpf" placeholder="CPF" required>
            </div>
            <div class="form-group">
                <label for="txtdataNasc">Data Nascimento</label>
                <input name="txtdataNasc" type="text" class="form-control" id="txtdataNasc" placeholder="Data Nascimento" required>
            </div>
            <div class="form-group">
                <label for="txtusername">Endereço de e-mail</label>
                <input name="txtusername" type="email" class="form-control" id="txtusername" placeholder="E-mail" required>
                <small id="lblusername" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
            </div>
            <div class="form-group">
                <label for="txtsenha">Senha</label>
                <input name="txtsenha" type="password" class="form-control" id="txtsenha" placeholder="Senha" required>
            </div>
            <div class="form-group">
                <label for="txtconfirmsenha">Confirme a Senha</label>
                <input name="txtconfirmsenha" type="password" class="form-control" id="txtconfirmsenha" placeholder="Senha" required>
            </div>
            <span>
                @ViewBag.message
            </span>
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
        <a asp-action="Login">Realizar login</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var form = $("form");
        form.each((index, element) => {
            console.log(index + 1);
        })
    </script>
    
</body>
</html>
