USE [master]
GO
/****** Object:  Database [FreelancerSpace]    Script Date: 21/04/2021 03:20:39 ******/
CREATE DATABASE [FreelancerSpace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FreelancerSpace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FreelancerSpace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FreelancerSpace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FreelancerSpace_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FreelancerSpace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FreelancerSpace]
GO
/****** Object:  Table [dbo].[Acessos]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acessos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdFuncionalidade] [int] NOT NULL,
	[IdPermissao] [int] NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Acessos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Sigla] [varchar](10) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Interesses] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNAE]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNAE](
	[id] [int] NOT NULL,
	[cod_secao] [varchar](1) NOT NULL,
	[desc_secao] [varchar](255) NOT NULL,
	[cod_divisao] [varchar](2) NOT NULL,
	[desc_divisao] [varchar](255) NOT NULL,
	[cod_grupo] [varchar](3) NOT NULL,
	[desc_grupo] [varchar](255) NOT NULL,
	[cod_classe] [varchar](6) NOT NULL,
	[desc_classe] [varchar](255) NOT NULL,
	[cod_subclasse] [varchar](9) NOT NULL,
	[desc_subclasse] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [char](1) NOT NULL,
	[CNAE] [int] NOT NULL,
	[RazaoSocial] [varchar](80) NOT NULL,
	[NomeFantasia] [varchar](80) NOT NULL,
	[CNPJ] [varchar](14) NOT NULL,
	[Descricao] [varchar](150) NULL,
	[ImagemDestaque] [varchar](200) NULL,
	[IdAtividadesDivisao] [int] NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoEndereco] [int] NOT NULL,
	[Logradouro] [varchar](80) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[CEP] [nchar](9) NOT NULL,
	[IdCidade] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Enderecos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecosXEmpresas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecosXEmpresas](
	[IdEndereco] [int] NOT NULL,
	[IdEmpresa] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecosXPessoas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecosXPessoas](
	[IdEndereco] [int] NOT NULL,
	[IdPessoa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Sigla] [varchar](2) NOT NULL,
	[IdPais] [int] NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqPerguntas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqPerguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [char](1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Pergunta] [varchar](150) NOT NULL,
	[DataHorario] [datetime] NOT NULL,
	[Anexo] [varchar](200) NULL,
 CONSTRAINT [PK_FaqPerguntas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqRespostas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqRespostas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPergunta] [int] NOT NULL,
	[Resposta] [varchar](150) NOT NULL,
	[DataHorario] [datetime] NOT NULL,
	[Anexo] [varchar](200) NULL,
 CONSTRAINT [PK_FaqRespostas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionalidades]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionalidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Funcionalidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[IdEmpresa] [char](1) NOT NULL,
	[DataContratacao] [date] NOT NULL,
	[Ativo] [char](1) NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoAcessos]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoAcessos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_GrupoAcessos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioAtendimento]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAtendimento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiasAtendimento] [varchar](20) NULL,
	[HorarioAtendimento] [varchar](20) NULL,
 CONSTRAINT [PK_HorarioAtendimento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioAtendimentoXEmpresas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAtendimentoXEmpresas](
	[IdEmpresa] [char](1) NOT NULL,
	[IdHorarioAtendimento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotaAvaliacao]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotaAvaliacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [char](1) NOT NULL,
	[NotaAvaliacao] [decimal](1, 1) NOT NULL,
	[DataAvaliacao] [datetime] NOT NULL,
 CONSTRAINT [PK_NotaAvaliacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[sigla] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilEmpresa]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Likes] [numeric](9, 0) NULL,
	[Visualizacoes] [numeric](9, 0) NULL,
	[IdEmpresa] [char](1) NOT NULL,
 CONSTRAINT [PK_PerfilEmpresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissoes]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Permissoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Sobrenome] [varchar](60) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosServicos]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosServicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRamoAtividade] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](100) NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_ProdutosServicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosServicosXEmpresas]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosServicosXEmpresas](
	[IdProdutoServico] [int] NOT NULL,
	[IdEmpresa] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RamoAtividade]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RamoAtividade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_AtividadesClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposEndereco]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposEndereco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_TiposEndereco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/04/2021 03:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Username] [varchar](50) NOT NULL,
	[IdGrupoAcesso] [int] NOT NULL,
	[Senha] [varchar](255) NOT NULL,
	[Ativo] [char](1) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acessos] ON 

INSERT [dbo].[Acessos] ([Id], [IdGrupo], [IdFuncionalidade], [IdPermissao], [Ativo]) VALUES (1, 1, 1, 1, N'S')
INSERT [dbo].[Acessos] ([Id], [IdGrupo], [IdFuncionalidade], [IdPermissao], [Ativo]) VALUES (2, 1, 1, 2, N'S')
SET IDENTITY_INSERT [dbo].[Acessos] OFF
GO
INSERT [dbo].[CNAE] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse]) VALUES (111301, N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/01', N'Cultivo de arroz')
INSERT [dbo].[CNAE] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse]) VALUES (111302, N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/02', N'Cultivo de milho')
INSERT [dbo].[CNAE] ([id], [cod_secao], [desc_secao], [cod_divisao], [desc_divisao], [cod_grupo], [desc_grupo], [cod_classe], [desc_classe], [cod_subclasse], [desc_subclasse]) VALUES (111303, N'A', N'AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA', N'01', N'AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS', N'011', N'Produção de lavouras temporárias', N'0111-3', N'Cultivo de cereais', N'0111-3/03', N'Cultivo de trigo')
GO
SET IDENTITY_INSERT [dbo].[Funcionalidades] ON 

INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Cadastro de Funcionário', N'RH', N'S')
INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (2, N'PERFIL EMPRESA', N'PERFIL EMPRESARIAL', N'N')
INSERT [dbo].[Funcionalidades] ([Id], [Nome], [Descricao], [Ativo]) VALUES (3, N'Cadastro de Funcionário', N'RH', N'N')
SET IDENTITY_INSERT [dbo].[Funcionalidades] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoAcessos] ON 

INSERT [dbo].[GrupoAcessos] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Grupo 1', N'Grupo de testes', N'S')
SET IDENTITY_INSERT [dbo].[GrupoAcessos] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissoes] ON 

INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (1, N'Ler', N'Permite exibição', N'S')
INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (2, N'Criar', N'Permite criações', N'S')
INSERT [dbo].[Permissoes] ([Id], [Nome], [Descricao], [Ativo]) VALUES (3, N'Excluir', N'Permite excluir os registros', N'S')
SET IDENTITY_INSERT [dbo].[Permissoes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProdutosServicos] ON 

INSERT [dbo].[ProdutosServicos] ([Id], [IdRamoAtividade], [Nome], [Descricao], [Ativo]) VALUES (1, 8, N'Desenvolvimento Front-End', N'Desenvolvimento de interfaces.', N'N')
INSERT [dbo].[ProdutosServicos] ([Id], [IdRamoAtividade], [Nome], [Descricao], [Ativo]) VALUES (2, 11, N'Help desk', N'Suporte ao usuário', N'N')
INSERT [dbo].[ProdutosServicos] ([Id], [IdRamoAtividade], [Nome], [Descricao], [Ativo]) VALUES (4, 8, N'Desenvolvimento Back-End', N'Desenvolvimento de estruturas de comunicação', N'S')
SET IDENTITY_INSERT [dbo].[ProdutosServicos] OFF
GO
SET IDENTITY_INSERT [dbo].[RamoAtividade] ON 

INSERT [dbo].[RamoAtividade] ([Id], [Nome], [Ativo]) VALUES (8, N'TI - Desenvolvimento', N'S')
INSERT [dbo].[RamoAtividade] ([Id], [Nome], [Ativo]) VALUES (11, N'TI - Suporte', N'S')
INSERT [dbo].[RamoAtividade] ([Id], [Nome], [Ativo]) VALUES (12, N'TI - QA', N'S')
SET IDENTITY_INSERT [dbo].[RamoAtividade] OFF
GO
ALTER TABLE [dbo].[Acessos] ADD  CONSTRAINT [DF_Acessos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Enderecos] ADD  CONSTRAINT [DF_Enderecos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionalidades] ADD  CONSTRAINT [DF_Funcionalidades_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[GrupoAcessos] ADD  CONSTRAINT [DF_GrupoAcessos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[PerfilEmpresa] ADD  CONSTRAINT [DF_PerfilEmpresa_IdEmpresa]  DEFAULT ('S') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[Permissoes] ADD  CONSTRAINT [DF_Permissoes_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Pessoas] ADD  CONSTRAINT [DF_Pessoas_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[ProdutosServicos] ADD  CONSTRAINT [DF_ProdutosServicos_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[RamoAtividade] ADD  CONSTRAINT [DF_RamoAtividade_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[TiposEndereco] ADD  CONSTRAINT [DF_TiposEndereco_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Ativo]  DEFAULT ('S') FOR [Ativo]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_Funcionalidades] FOREIGN KEY([IdFuncionalidade])
REFERENCES [dbo].[Funcionalidades] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_Funcionalidades]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_GrupoAcessos] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[GrupoAcessos] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_GrupoAcessos]
GO
ALTER TABLE [dbo].[Acessos]  WITH CHECK ADD  CONSTRAINT [FK_Acessos_Permissoes] FOREIGN KEY([IdPermissao])
REFERENCES [dbo].[Permissoes] ([Id])
GO
ALTER TABLE [dbo].[Acessos] CHECK CONSTRAINT [FK_Acessos_Permissoes]
GO
ALTER TABLE [dbo].[Cidades]  WITH CHECK ADD  CONSTRAINT [FK_Cidades_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Cidades] CHECK CONSTRAINT [FK_Cidades_Estados]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Pessoas]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([Usuario])
REFERENCES [dbo].[Usuarios] ([Username])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_Cidades] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidades] ([Id])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_Cidades]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_Estados]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_TiposEndereco] FOREIGN KEY([IdTipoEndereco])
REFERENCES [dbo].[TiposEndereco] ([Id])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_TiposEndereco]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] CHECK CONSTRAINT [FK_EnderecosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[EnderecosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXEmpresas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXEmpresas] CHECK CONSTRAINT [FK_EnderecosXEmpresas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXPessoas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXPessoas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXPessoas] CHECK CONSTRAINT [FK_EnderecosXPessoas_Enderecos]
GO
ALTER TABLE [dbo].[EnderecosXPessoas]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosXPessoas_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[EnderecosXPessoas] CHECK CONSTRAINT [FK_EnderecosXPessoas_Pessoas]
GO
ALTER TABLE [dbo].[Estados]  WITH CHECK ADD  CONSTRAINT [FK_Estados_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Estados] CHECK CONSTRAINT [FK_Estados_Pais]
GO
ALTER TABLE [dbo].[FaqPerguntas]  WITH CHECK ADD  CONSTRAINT [FK_FaqPerguntas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[FaqPerguntas] CHECK CONSTRAINT [FK_FaqPerguntas_Empresas]
GO
ALTER TABLE [dbo].[FaqRespostas]  WITH CHECK ADD  CONSTRAINT [FK_FaqRespostas_FaqPerguntas] FOREIGN KEY([IdPergunta])
REFERENCES [dbo].[FaqPerguntas] ([Id])
GO
ALTER TABLE [dbo].[FaqRespostas] CHECK CONSTRAINT [FK_FaqRespostas_FaqPerguntas]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Empresas]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Pessoas]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Usuarios] FOREIGN KEY([Username])
REFERENCES [dbo].[Usuarios] ([Username])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Usuarios]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_HorarioAtendimentoXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] CHECK CONSTRAINT [FK_HorarioAtendimentoXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_HorarioAtendimentoXEmpresas_HorarioAtendimento] FOREIGN KEY([IdHorarioAtendimento])
REFERENCES [dbo].[HorarioAtendimento] ([Id])
GO
ALTER TABLE [dbo].[HorarioAtendimentoXEmpresas] CHECK CONSTRAINT [FK_HorarioAtendimentoXEmpresas_HorarioAtendimento]
GO
ALTER TABLE [dbo].[NotaAvaliacao]  WITH CHECK ADD  CONSTRAINT [FK_NotaAvaliacao_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[NotaAvaliacao] CHECK CONSTRAINT [FK_NotaAvaliacao_Empresas]
GO
ALTER TABLE [dbo].[PerfilEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_PerfilEmpresa_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[PerfilEmpresa] CHECK CONSTRAINT [FK_PerfilEmpresa_Empresas]
GO
ALTER TABLE [dbo].[ProdutosServicos]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicos_AtividadesClasses] FOREIGN KEY([IdRamoAtividade])
REFERENCES [dbo].[RamoAtividade] ([Id])
GO
ALTER TABLE [dbo].[ProdutosServicos] CHECK CONSTRAINT [FK_ProdutosServicos_AtividadesClasses]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicosXEmpresas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] CHECK CONSTRAINT [FK_ProdutosServicosXEmpresas_Empresas]
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosServicosXEmpresas_ProdutosServicos] FOREIGN KEY([IdProdutoServico])
REFERENCES [dbo].[ProdutosServicos] ([Id])
GO
ALTER TABLE [dbo].[ProdutosServicosXEmpresas] CHECK CONSTRAINT [FK_ProdutosServicosXEmpresas_ProdutosServicos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_GrupoAcessos] FOREIGN KEY([IdGrupoAcesso])
REFERENCES [dbo].[GrupoAcessos] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_GrupoAcessos]
GO
USE [master]
GO
