@model FreelancerSpace.Models.GrupoAcessoModel

@{}

<h4>Grupo Acessos</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" name="txtid" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" name="txtnome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" name="txtdescricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Acesso a Funcionalidades</label>
                <select multiple="multiple" size="5" name="duallistbox_funcionalidades[]" 
                        class="form-control" asp-items='(new SelectList(@ViewBag.listFuncionalidades,"Id","Nome"))'></select>
            </div>

            <!--<div class="form-group">
                <label class="control-label">Selecione a Funcionalidade</label>
                <select id="funcionalidadesSelecionadas"></select>
            </div>

            <div class="form-check form-check-inline">
                <input type="checkbox" value="" class="form-check-input" />-->
            @*<label asp-for="IdPermissao" class="control-label"></label>
                <select multiple="multiple" size="10" name="duallistbox_demo1[]" title="duallistbox_demo1[]"
                        asp-for="IdPermissao" class="form-control" asp-items='(new SelectList(@ViewBag.listPermissoes,"Id","Nome"))'></select>*@
            <!--</div>-->

            <div class="form-group m-3">
                <input id="btnSubmit" type="button" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ModalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Grupo de Acesso</h4>
            </div>
            <div class="modal-body">
                <h5>Grupo de Acesso Criado com Sucesso!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnsuccess" onclick="redirectList()">Ok!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalFailure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Grupo de Acessos</h4>
            </div>
            <div class="modal-body">
                <h5>Não foi possível realizar o cadastro!</h5>
                <h6>Tente novemente dentro de algum momento.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    <script src="~/js/jquery.bootstrap-duallistbox.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var demo1 = $('select[name="duallistbox_funcionalidades[]"]').bootstrapDualListbox();
        $("#demoform").submit(function () {
            alert($('[name="duallistbox_funcionalidades[]"]').val());
            return false;
        });
    </script>

    <script>
        function redirectList() {
            document.location = location.protocol + "//" + location.hostname + ":" + location.port + "/" + location.pathname.substring(1, location.pathname.indexOf('/', 2) + 1) + 'Index';
        }
        function salvarGrupo() {
            let arrFuncionalidades = $('[name="duallistbox_funcionalidades[]"]').val();

            let objGrupoAcesso = {
                Id: parseInt($('input[name="txtid"]').val()) || 0,
                Nome: $('input[name="txtnome"]').val(),
                Descricao: $('input[name="txtdescricao"]').val(),
                Ativo: "S"
            }

            let objFuncionalidades = arrFuncionalidades.map((e) => { return { "IdFuncionalidade": e } });
            let permissoes = [1, 2, 3, 4];
            let objAcessos = arrFuncionalidades.map((e) => {
                return permissoes.map((j) => {
                    return {
                        "IdFuncionalidade": e,
                        "IdPermissao": j
                    }
                })
            }).flat();

            let obj = { "GrupoAcesso": objGrupoAcesso, "Funcionalidades": objFuncionalidades, "Acessos": objAcessos };

            console.log('Obj', obj);
            $.ajax({
                url: location.protocol + "//" + location.hostname + ":" + location.port + "/" + location.pathname.substring(1, location.pathname.indexOf('/', 2) + 1) + "Salvar",
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(obj),
                error: (data) => {
                    console.log(data.responseText);
                    $("#ModalFailure").modal("show");
                },
                success: function (data) {
                    console.log('Success', data);
                    $("#ModalSuccess").modal("show");
                }
            })

        };

        $(document).ready(() => {

            $("#btnSubmit").on('click', function () {
                //Validação

                salvarGrupo();
            });

        });
    </script>

    <script>
        if (window.location.href.includes("Create/")) {
            document.getElementById("btnSubmit").value = "Editar";
        }
        else {
            document.getElementById("btnSubmit").value = "Salvar";
        }
    </script>
}
